body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    widows: 100%;
    font-family: sans-serif;
}

.sidebar::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(255, 255, 255);
}
.sidebar::-webkit-scrollbar-thumb {
    background: rgb(27, 117, 139);
}

.sidebar {
    width: 100px;
    background-color: rgb(27, 117, 139);
    left: 0;
    position: fixed;
    transition: all .3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0%;
    bottom: 0;
}

.componen {
    margin-left: 8%;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    text-decoration: none;
    color: white;
    height: 80px;
    width: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display: block;
}
a:hover {
    text-shadow: 0 0 15px rgb(255, 255, 255);
}