<aside class="sidebar">
  <ul>
    <li><a class="icon ion-md-basket" [routerLink]="['/dashboard', 'cajero']" skipLocationChange></a></li>
    <li><a class="icon ion-md-search" [routerLink]="['/dashboard', 'buscar']" skipLocationChange></a></li>
    <li><a class="icon ion-md-list-box" [routerLink]="['/dashboard', 'ventas']" skipLocationChange></a></li>
    <li><a class="icon ion-md-add-circle" [routerLink]="['/dashboard', 'inventario']" skipLocationChange></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>
    <li><a class="icon ion-md-exit"></a></li>

  </ul>
</aside>

<div class="componen">
  <router-outlet></router-outlet>
</div>



