<div class="container">
  <div class="row">
    <h3 class="center">SISTEMA DE VENTAS</h3>
    <form (submit)="search()">
      <div class="input-field col s10 m6 offset-m3 l4 offset-l4 z-depth-6">
        <input type="text" 
        id="input_buscar"
        class="validate center" 
        name="producto" 
        [(ngModel)]="credentials.codigo"
        maxlength="30"
        autocomplete="off">
        <label for="Producto"> CODIGO </label>
      </div>
  
      <div class="col s10 m6 offset-m3 l5 offset-l5 z-depth-6">
        <button class="btn waves-effect waves-light"><i class="material-icons right">search</i> BUSCAR </button>
      </div>
    </form>
  </div>

  <form (submit)="carrito()">
    <div class="row">
      <div class="input-field col offset-m1 l6 offset-l3">
        <input type="text" 
        class="validate on center" 
        name="producto"
        id="input_name"
        disabled
        [(ngModel)]="credentials.name"
        maxlength="30"
        value="PRECIO DEL PRODUCTO">
      </div>
    </div>
  
    <div class="row">
      <div class="input-field col offset-m1 l3 offset-l1">
        <input type="text" 
        class="validate center" 
        name="precio_original"
        disabled
        [(ngModel)]="credentials.precio_original"
        maxlength="30"
        value="PRECIO ORIGINAL"
        id="input_precio1">
      </div>
  
      <div class="input-field col m3">
        <input type="text" 
        class="validate center" 
        name="precio_minimo"
        disabled
        [(ngModel)]="credentials.precio_minimo"
        maxlength="30"
        value="PRECIO MINIMO"
        id="input_precio2">
      </div>
  
      <div class="input-field col m3">
        <input type="text" 
        class="validate center" 
        name="precio_cliente"
        disabled
        [(ngModel)]="credentials.precio_cliente"
        maxlength="30"
        value="PRECIO AL CLIENTE"
        id="input_precio3">
      </div>
  
      <div class="col s10 m6 offset-m5">
        <button class="btn waves-effect waves-light"><i class="material-icons right">shopping_cart</i> AGREGAR </button>
      </div>
    </div>
  </form>
</div>

<div class="col s7 m6">
  <table class="highlight bordered centered" id="table_de_caja">
    <thead>
        <th class="center">Codigo</th>
        <th class="center">Nombre</th>
        <th class="center">Precio</th>
        <th class="center">Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let info of lista; let i = index">
        <td>{{ info.codigo }}</td>
        <td>{{ info.name }}</td>
        <td>{{ info.precio_original }}</td>
        <td>{{ info.precio_minimo }}</td>
        <td>{{ info.precio_cliente }}</td>
        <td>
          <button class="waves-effect waves-light btn red" (click)="eliminar(i)">
              <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>