.row {
    margin-left: 10px;
}
#input_name {
    margin-top: -10%;
}
#input_precio1 {
    margin-left: 30px;
    color: rgb(255, 0, 0);
    margin-top: -30%;
}
#input_precio2 {
    margin-left: 40px;
    color: rgb(183, 134, 10);
    margin-top: -30%;
}
#input_precio3 {
    margin-left: 50px;
    color: rgb(0, 128, 0);
    margin-top: -30%;
}
tbody {
display:block;
height:150px;
overflow:auto;
}
thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}
thead {
width: calc( 100% - 1em )
}
table {
width:100%;
}