<div class="container">
  <div class="row">
    <h3 class="center">SISTEMA DE VENTAS</h3>
    <form (submit)="buscar()">
      <div class="input-field col s10 m6 offset-m3 l4 offset-l4 z-depth-6">
        <input type="text" 
        id="input_buscar"
        class="validate center" 
        name="producto" 
        [(ngModel)]="credentials.codigo"
        maxlength="30"
        autocomplete="off">
        <label for="Producto"> CODIGO </label>
      </div>
  
      <div class="col s10 m6 offset-m3 l5 offset-l5 z-depth-6">
        <button class="btn waves-effect waves-light"><i class="material-icons right">search</i> BUSCAR </button>
      </div>
    </form>
  </div>

  <div class="col s7 m6">
    <table class="highlight bordered centered" id="table_de_caja">
      <thead>
          <th class="center">Codigo</th>
          <th class="center">Nombre</th>
          <th class="center">P.Real</th>
          <th class="center">P.Min</th>
          <th class="center">P.Cli</th>
          <th class="center">Cantidad</th>
          <th class="center">Descuento</th>
          <th class="center">IVA</th>
          <th class="center">Fecha</th>
      </thead>
      <tbody>
        <tr *ngFor="let info of lista; let i = index">
          <td>{{ info.codigo }}</td>
          <td>{{ info.name }}</td>
          <td>{{ info.precio_cliente }}</td>
          <td>
            <button class="waves-effect waves-light btn red" (click)="eliminar(i)">
                <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>