<div class="container">
  <div class="row">
    <h3 class="center">
      MISCELANIA ROSA
    </h3>
    <form materialize (submit)="login()" class="col s12">
      <div class="row">
        <div class="input-field col s4 m6 offset-m3 l4 offset-l4" >
            <i class="material-icons prefix">account_circle</i>
            <input type="text" 
            class="validate center" 
            name="username"
            [(ngModel)]="credentials.username"
            maxlength="10"
            autocomplete="off">
            <label for="Usuario"> Usuario: </label>
        </div>
      </div>
        
      <div class="row">
        <div class="input-field col s4 m6 offset-m3 l4 offset-l4">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" 
            class="validate center" 
            name="password" 
            [(ngModel)]="credentials.password"
            maxlength="10"
            autocomplete="off">
            <label for="Contraseña"> Contraseña: </label>
        </div>
      </div>
        
    
      <div class="col l5 offset-l5">
        <button class="btn waves-effect waves-light"><i class="material-icons right">send</i> INICIAR SESSION </button>
      </div>
    </form>
  </div>
</div>
<div class="center" id="panel-error">
  <span id="error"></span>
</div>