h3 {
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}

#panel-error {
    position: fixed;
    background: rgba(255, 64, 64, 0.664);
    width: 25%;
    top: 54%;
    left: 37%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(255, 64, 64, 0.664);
    display: block;
  }
#panel-error span {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px rgb(255, 255, 255);
  }